.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.Tabs {
  margin-top: 30px;
}